# dependencies
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
*.log

# dotenv environment variable files
.env
.env.*.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IDEs
.idea
.cursor
.vscode

# Finder
.DS_Store
